@import url("https://fonts.googleapis.com/css2?family=Abel&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.cdnfonts.com/css/mont");

:root {
  --widget-size-large: 279px;
  --widget-inner-large: 214px;
  --widget-content-large: 175px;

  --widget-size-small: 140px;
  --widget-inner-small: 107px;
  --widget-content-small: 88px;

  --color-bg-primary: #e3edf7;
  --color-bg-secondary: #f6f7f8;
  --color-line: #a4aeb7;
  --color-warm-yellow: #d9b12c;

  --shadow-main: 12px 12px 16px 0px #a4aeb726;

  --gradient-text: linear-gradient(
    278.57deg,
    #202e43 0%,
    rgba(155, 171, 192, 0.4) 175.16%
  );
  --gradient-blue: radial-gradient(
    89.59% 146.28% at 10.41% 88.14%,
    #78aae3 0%,
    #2c69d9 94.27%
  );
  --gradient-green: radial-gradient(
    89.59% 146.28% at 10.41% 88.14%,
    #78e3bd 0%,
    #2cd99b 94.27%
  );
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-primary);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*  ======= Clock ======= */
.clock {
  position: relative;
  width: 279px;
  height: 279px;
  border-radius: 50%;
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: #ffffff;
  background-color: var(--color-bg-secondary);
  box-shadow: var(--shadow-main);
}

.clock-hand {
  position: absolute;
  height: 3px;
  background: var(--color-line);
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  transform: translate(0, -50%) rotate(0deg);
}

.clock-hand_hour {
  width: 13%;
}

.clock-hand_minute {
  width: 25%;
}

.clock-line {
  position: absolute;
  width: 3px;
  height: 20px;
  background: #cfd5da;
  border-radius: 3px;
  left: 50%;
  transform-origin: 50% 129.5px;
  margin: -2px;
  top: 9px;
}

/*  ======= Pressure Widget ======= */
.pressure-widget {
  height: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pressure-widget_data {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;
}

.pressure-widget_label {
  flex: 1;
  text-transform: uppercase;
  font-family:
    Share Tech Mono,
    monospace;
  font-weight: 400;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 12px;
  text-align: right;
  transform: rotate(90deg);
  align-items: center;
  display: flex;
}
.pressure-widget_value {
  color: #31456a;
  font-family: Abel;
  font-weight: 400;
  font-size: 25px;
  vertical-align: middle;
  flex: 1;
  display: flex;
  align-items: center;
}
.pressure-widget_value span {
  font-size: 15px;
}

.pressure-widget_bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1;
}
.pressure-widget_bar {
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background: #b4bdc4;
}

.pressure-widget_container {
  width: 75px;
  height: 100%;
  border-radius: 40px;
  box-shadow:
    -20px -20px 30px 0px #ffffff inset,
    20px 20px 30px 0px #d1d9e6b2 inset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 30px 0;
}

.pressure-widget_progress {
  width: 17px;
  height: 100%;
  background: #2cd99b;
  border-radius: 30px;
  box-shadow:
    -18px -18px 20px 0px #ffffff,
    18px 18px 20px 0px #d1d9e6;
}

/*  ======= Sensor Widget ======= */

.sensor-widget {
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: var(--shadow-main);
}
.sensor-widget_large {
  width: var(--widget-size-large);
  height: var(--widget-size-large);
}
.sensor-widget_small {
  width: var(--widget-size-small);
  height: var(--widget-size-small);
}
.sensor-widget_large .sensor-widget_line {
  height: 12px;
  transform-origin: 50% 129.5px;
  top: 9px;
  margin: -2px;
}
.sensor-widget_small .sensor-widget_line {
  height: 7px;
  transform-origin: 50% 66.5px;
  top: 4px;
  margin: -1px;
}

.sensor-widget_line {
  position: absolute;
  width: 1.2px;
  background: #cfd5da;
  border-radius: 3px;
  left: 50%;
}
.sensor-widget_large .sensor-widget_container {
  width: var(--widget-inner-large);
  height: var(--widget-inner-large);
}
.sensor-widget_small .sensor-widget_container {
  width: var(--widget-inner-small);
  height: var(--widget-inner-small);
}

.sensor-widget_container {
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: var(--color-bg-primary);
  box-shadow: 0px 4px 20px 0px #00000026 inset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.sensor-widget_ring {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sensor-widget_large .sensor-widget_progress {
  stroke-width: 18;
}
.sensor-widget_small .sensor-widget_progress {
  stroke-width: 16;
}

.sensor-widget_blue .sensor-widget_progress {
  stroke: url(#blueGradient);
}

.sensor-widget_green .sensor-widget_progress {
  stroke: url(#greenGradient);
}

.sensor-widget_yellow .sensor-widget_progress {
  stroke: url(#yellowGradient);
}

.sensor-widget_progress {
  fill: none;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease;
}

.sensor-widget_large .sensor-widget_content {
  width: var(--widget-content-large);
  height: var(--widget-content-large);
}

.sensor-widget_small .sensor-widget_content {
  width: var(--widget-content-small);
  height: var(--widget-content-small);
}

.sensor-widget_content {
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  background-color: var(--color-bg-secondary);
  box-shadow: 12px 12px 16px 0px #a4aeb726;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.sensor-widget_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex: 1;
}
.sensor-widget_large .sensor-widget_label {
  font-size: 10px;
}

.sensor-widget_small .sensor-widget_label {
  font-size: 8px;
}
.sensor-widget_label {
  font-family:
    Share Tech Mono,
    monospace;
  font-weight: 400;
  vertical-align: middle;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
.sensor-widget_large .sensor-widget_value {
  font-size: 48px;
}

.sensor-widget_small .sensor-widget_value {
  font-size: 20px;
}
.sensor-widget_blue .sensor-widget_value {
  background: var(--gradient-blue);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sensor-widget_green .sensor-widget_value {
  background: var(--gradient-green);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sensor-widget_yellow .sensor-widget_value {
  color: var(--color-warm-yellow);
}

.sensor-widget_value {
  font-family: Figtree;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.sensor-widget_large .sensor-widget_loc {
  font-size: 15px;
}

.sensor-widget_small .sensor-widget_loc {
  font-size: 10px;
}

.sensor-widget_loc {
  font-family:
    Share Tech Mono,
    monospace;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  padding-bottom: 10px;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*  ======= Buttons ======= */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Figtree;
  font-weight: 900;
  font-size: 18px;
  width: 98px;
  height: 48px;
  color: var(--color-line);
  background: var(--color-bg-primary);
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: var(--color-bg-primary);
  box-shadow:
    -4px -4px 14px #ffffff,
    12px 12px 16px #a4aeb726,
    0px 4px 4px #a4aeb740;
}
.btn:active {
  border-width: 1px 0px 0px 1px;
  box-shadow:
    -4px -4px 14px #ffffff,
    inset 0px 4px 4px #a4aeb740;
}
.btn-primary {
  border-radius: 36px;
}

.btn-secondary {
  border-radius: 10px;
}
.btn-numeric {
  font-family: Fjalla One;
  font-weight: 400;
  font-size: 40px;
}

.btn-square_large {
  width: 67px;
  height: 67px;
}
.btn-square_small {
  width: 40px;
  height: 40px;
}

.btn-icon_large {
  width: 28px;
  height: 28px;
}
.btn-icon_small {
  width: 17px;
  height: 17px;
}
.btn-start {
  padding-right: 28px;
  color: var(--color-line);
  text-transform: uppercase;
  cursor: pointer;
  font-family: Figtree;
  font-weight: 900;
  font-size: 20px;
  --r: 26px;
  height: 150px;
  aspect-ratio: cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) left var(--r), #000 98%, #0000 101%;
  mask:
    conic-gradient(
        from 60deg at calc(3 * var(--r) / 2 - 100%),
        rgba(0, 0, 0, 1) 60deg,
        rgba(0, 0, 0, 0) 0
      )
      0 0 / calc(100% - 3 * var(--r) / 2) 100% no-repeat,
    radial-gradient(
      var(--r) at calc(100% - 2 * var(--r)) 50%,
      rgba(0, 0, 0, 1) 98%,
      rgba(0, 0, 0, 0) 101%
    ),
    radial-gradient(var(--r) at top var(--_g)),
    radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(100% 50%, 0 100%, 0 0);
  background: var(--color-bg-primary);
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: var(--color-bg-primary);
}
.btn-start:active {
  border-width: 1px 0px 0px 1px;
}

.btn-start_wrapper {
  filter: drop-shadow(-4px -4px 8px #ffffff)
    drop-shadow(12px 12px 10px #a4aeb726) drop-shadow(0px 4px 4px #a4aeb740);
}

.btn-power {
  width: 170px;
  height: 170px;
  border-radius: 80px;
  background: #e7eff5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  z-index: 1;
}

.btn-power::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 86px;
  background: transparent;
  box-shadow:
    -18px -18px 30px #ffffff,
    10px 20px 10px #a1b1ce40;
  filter: blur(10px);
  z-index: -1;
}
.btn-power:active::before {
  box-shadow:
    -10px -10px 20px #ffffff,
    5px 10px 8px #a1b1ce40;
  filter: blur(6px);
}

/*  ======= Progress Wheel ======= */

.progress-wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  border-radius: 200px;
  background: var(--color-bg-primary);
  border: 1px solid;
  border-image-source: linear-gradient(
    267.62deg,
    rgba(214, 227, 243, 0.46) 8.2%,
    rgba(255, 255, 255, 0.46) 82.68%
  );
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
}
.progress-wheel_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 205px;
  border-radius: 200px;
  border: 1px solid;
  border-image-source: linear-gradient(
    122.51deg,
    rgba(214, 227, 243, 0.46) 16.62%,
    rgba(255, 255, 255, 0.46) 56.74%
  );
  box-shadow:
    4px 4px 14px 0px #c1d5ee inset,
    -4px -4px 9px 0px #ffffffe0 inset;
  position: relative;
  overflow: hidden;
}

.progress-wheel_ring {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
}

.progress-wheel_fill {
  stroke-width: 48;
  stroke: url(#greenGradient);
  fill: none;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease;
}

.progress-wheel_button_wrapper {
  background-color: var(--color-bg-primary);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  border-radius: 200px;
  border: 1px solid;
  border-image-source: linear-gradient(
    267.62deg,
    rgba(214, 227, 243, 0.46) 8.2%,
    rgba(255, 255, 255, 0.46) 82.68%
  );
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
}
.progress-wheel_button {
  cursor: pointer;
  background-color: var(--color-bg-primary);
  width: 74px;
  height: 74px;
  border-radius: 200px;
  border: 1px solid;
  border-image-source: linear-gradient(
    267.62deg,
    rgba(214, 227, 243, 0.46) 8.2%,
    rgba(255, 255, 255, 0.46) 82.68%
  );
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
  font-family: Raleway;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-line);
}
.progress-wheel_button:active {
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    inset 2px 2px 4px 0px #728eab1a;
}
.progress-wheel_value {
  font-family: Mont;
  font-weight: 700;
  font-size: 21px;
  color: var(--color-bg-primary);
  position: absolute;
  bottom: 15px;
  color: #ffffff;
  z-index: 2;
}

/*  ======= Temperature Slider ======= */

.temperature-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow:
    -20px -20px 30px 0px #ffffff inset,
    20px 20px 30px 0px #d1d9e6b2 inset;
}

.temperature-slider_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 15px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
}

.temperature-slider_value {
  font-family: Inter;
  font-weight: 400;
  font-size: 35px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #31456a;
  user-select: none;
}

.temperature-slider_track {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  transform-origin: center center;
  background-color: red;
}
.temperature-slider_handle {
  top: 0;
  left: 50%;
  z-index: 3;
  position: absolute;
  background: #2cd99b;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-shadow:
    -18px -18px 20px 0px #ffffff,
    18px 18px 20px 0px #d1d9e6;
  cursor: grab;
}

/*  ======= Text Input ======= */

.text-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 13px;
}

.text-input_rounded input {
  border-radius: 23px;
}
.text-input_rounded .text-input_wrapper {
  border-radius: 25px;
}

.text-input_square input {
  border-radius: 2px;
}

.text-input_square .text-input_wrapper {
  border-radius: 4px;
}

.text-input input {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--color-bg-primary);
  box-shadow:
    4px 4px 14px 0px #c5d7ee inset,
    -4px -4px 9px 0px #ffffff99 inset;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
.text-input_wrapper {
  width: 325px;
  height: 50px;
  background: linear-gradient(
    122.51deg,
    rgba(214, 227, 243, 0.8) 16.62%,
    rgba(255, 255, 255, 0.8) 56.74%
  );
  padding: 2px;
  box-sizing: border-box;
}

.text-input label {
  vertical-align: middle;
  color: var(--color-line);
}

/*  ======= Toggle ======= */

.toggle {
  display: flex;
  padding: 2px;
  justify-content: start;
  align-items: center;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background: radial-gradient(
    171.63% 171.63% at 50% 50%,
    #e3edf7 0%,
    rgba(227, 237, 247, 0) 100%
  );
  border-top: 1px solid var(--color-bg-primary);
  box-shadow:
    1px 1px 4px 0px #a4aeb7 inset,
    0px 0px 24px -10px #a4aeb7;
}
.toggle.active {
  background: radial-gradient(
    89.59% 146.28% at 10.41% 88.14%,
    #78e3bd 0%,
    #2cd99b 94.27%
  );
}
.toggle.active .toggle-handle {
  transform: translateX(24px);
}
.toggle.restricted {
  background: #cfd5da;
  opacity: 0.7;
}

.toggle.active.restricted {
  background: radial-gradient(
    89.59% 146.28% at 10.41% 88.14%,
    #78e3bd 0%,
    #2cd99b 94.27%
  );
  opacity: 0.3;
}

.toggle-handle {
  width: 18px;
  height: 18.5px;
  border-radius: 32px;
  background: var(--color-bg-primary);
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: var(--color-bg-primary);
  box-shadow: 2px 2px 8px 0px #a4aeb780;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.toggle-handle img {
  width: 10px;
  height: 10px;
}

/*  ======= Checkbox ======= */

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Figtree;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-line);
}

.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  box-shadow:
    1px 1px 4px 0px #0000004d inset,
    0px 0px 24px -10px #a4aeb7;
  cursor: pointer;
  position: relative;
  background: radial-gradient(
    171.63% 171.63% at 50% 50%,
    #e3edf7 0%,
    rgba(227, 237, 247, 0) 100%
  );
  border: 1px solid var(--color-bg-primary);
}
.checkbox input:checked {
  background: radial-gradient(
    89.59% 146.28% at 10.41% 88.14%,
    #78e3bd 0%,
    #2cd99b 94.27%
  );
}
.checkbox input:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*  ======= Sliders ======= */

.slider-primary_container {
  width: 301px;
  height: 16px;
  padding: 2px;
  border-radius: 9px;
  background:
    linear-gradient(
      122.51deg,
      rgba(214, 227, 243, 0.46) 16.62%,
      rgba(255, 255, 255, 0.46) 56.74%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow:
    2px 2px 6px 0px #c1d5ee inset,
    -2px -2px 7px 0px #ffffffe0 inset;
}

.slider-primary {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: var(--color-bg-primary);
  position: relative;
}

.slider-primary_handle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(270deg, #e3edf7 0%, #ffffff 100%);
}
.slider-primary_wrapper {
  position: absolute;
  top: 50%;
  left: 37.5px;
  transform: translate(-50%, -50%);
  cursor: grab;
  width: 75px;
  height: 15px;
  border-radius: 8px;
  padding: 1px;
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;

  background:
    linear-gradient(
      267.5deg,
      rgba(214, 227, 243, 0.46) 8.37%,
      rgba(255, 255, 255, 0.46) 98.14%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider-primary_line {
  background-color: #cfdbe9;
  width: 2px;
  height: 6px;
  border-radius: 1px;
}
.slider-primary_line.long {
  height: 10px;
}

.slider-secondary {
  width: 100%;
  height: 2px;
  background-color: #cfd5da;
  position: relative;
  border-radius: 3px;
}

.slider-secondary_filled {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 7px;
  background: linear-gradient(90deg, #2cd99b -0.23%, #e0fef3 129.44%);
  border-radius: 3px;
  width: 0;
  z-index: 0;
}

.slider-secondary_handle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  background-color: var(--color-bg-primary, #fff);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  box-shadow:
    -4px -4px 14px 0px #ffffff,
    12px 12px 16px 0px #a4aeb726,
    0px 4px 4px 0px #a4aeb740;
  z-index: 1;
}
.slider-secondary_line {
  background-color: #a4aeb7;
  height: 12px;
  width: 2px;
  border-radius: 2px;
}

/*  ======= Tab Bar ======= */
.tab-bar_container {
  width: 343px;
  height: 66px;
  border-radius: 14px;
  padding: 2px;
  background:
    linear-gradient(
      267.62deg,
      rgba(214, 227, 243, 0.46) 8.2%,
      rgba(255, 255, 255, 0.46) 82.68%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
}
.tab-bar {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: var(--color-bg-primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tab-bar_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.tab-bar_button img {
  width: 24px;
  height: 24px;
}
.tab-bar_wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.tab-bar_wrapper.active {
  border-radius: 12px;
  padding: 1px;
  background:
    linear-gradient(
      122.51deg,
      rgba(214, 227, 243, 0.66) 16.62%,
      rgba(255, 255, 255, 0.66) 56.74%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.tab-bar_wrapper.active .tab-bar_button {
  box-shadow:
    4px 4px 14px 0px #c1d5ee inset,
    -4px -4px 9px 0px #ffffffe0 inset;

  width: 100%;
  height: 100%;
  border-radius: 11px;
  background: var(--color-bg-primary);
}

/*  ======= Select Item ======= */

.select-item_container {
  width: 297px;
  height: 56px;
  border-radius: 6px;
  padding: 2px;
  background:
    linear-gradient(
      267.62deg,
      rgba(214, 227, 243, 0.46) 8.2%,
      rgba(255, 255, 255, 0.46) 82.68%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
}

.select-item {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: var(--color-bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.select-item_details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.select-item_data {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  font-family: Raleway;
  color: #8b9eb0;
}
.select-item_title {
  font-weight: 700;
  font-size: 13px;
}
.select-item_subtitle {
  font-weight: 500;
  font-size: 10px;
}
.select-item_chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-item_chevron img {
  width: 20px;
  height: 20px;
}

.select-item_wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 12px;
  padding: 1px;
  background:
    linear-gradient(
      122.51deg,
      rgba(214, 227, 243, 0.66) 16.62%,
      rgba(255, 255, 255, 0.66) 56.74%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.select-item_icon {
  box-shadow:
    4px 4px 14px 0px #c1d5ee inset,
    -4px -4px 9px 0px #ffffffe0 inset;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background: var(--color-bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ======= Graph Widget ======= */

.graph-widget {
  padding: 40px 30px 20px 20px;
  color: var(--color-line);
  font-family: Raleway;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
  height: 226px;
  opacity: 1;
  border-radius: 14px;
  background:
    linear-gradient(0deg, #e3edf7, #e3edf7),
    linear-gradient(
      308.48deg,
      rgba(255, 255, 255, 0.53) 2.36%,
      rgba(255, 255, 255, 0) 61.95%
    );
  border: 1px solid;
  border-image-source: linear-gradient(
    267.62deg,
    rgba(214, 227, 243, 0.46) 8.2%,
    rgba(255, 255, 255, 0.46) 82.68%
  );
  box-shadow:
    4px 4px 20px 0px #6f8cb069,
    -6px -6px 20px 0px #ffffff,
    2px 2px 4px 0px #728eab1a;
}

.graph-widget_y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.graph-widget_bar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 12px;
}
.graph-widget_bar {
  width: 18px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid;
  border-image-source: linear-gradient(
    122.51deg,
    rgba(214, 227, 243, 0.66) 16.62%,
    rgba(255, 255, 255, 0.66) 56.74%
  );
  box-shadow:
    4px 4px 14px 0px #c1d5ee inset,
    -4px -4px 9px 0px #ffffffe0 inset;
  z-index: 0;
  display: flex;
  align-items: end;
}

.graph-widget_bar-fill {
  z-index: 1;
  height: 50%;
  width: 100%;
  border-radius: 8px;
  background: var(--gradient-green);
}

/*  ======= Barcode Container ======= */

.barcode-container {
  width: 279px;
  height: 279px;
  border-radius: 22px;
  background-color: var(--color-bg-primary);
  box-shadow:
    -4px -4px 14px 0px #ffffff,
    12px 12px 16px 0px #a4aeb726,
    0px 4px 4px 0px #a4aeb740;
}
.barcode img {
  width: 214px;
  height: 214px;
}
.barcode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*  ======= Debit Card Container ======= */

.debit-card {
  padding: 20px;
  font-family:
    Share Tech Mono,
    monospace;
  width: 230px;
  height: 350px;
  border-radius: 30px;
  background: var(--color-bg-primary);
  box-shadow:
    -18px -18px 30px 0px #ffffffb2,
    20px 20px 30px 0px #d1d9e6b2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.debit-card_chip {
  display: flex;
  justify-content: end;
  align-items: center;
}
.debit-card_chip img {
  width: auto;
  height: 60px;
}

.debit-card_type {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.debit-card_type-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.debit-card_type-icon img {
  width: 70px;
  height: auto;
}
.debit-card_type-label {
  font-size: 11px;
  padding-right: 5px;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.debit-card_details {
  font-size: 17px;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
